#caixa{
	width: 300px;
	height: 300px;
	color: #000;
	/*background: url(../imagens/camera.png);*/
	background: linear-gradient(to right, blue, red);
	padding: 5px;
	margin: 10px;
}

#caixa h1{
	background: rgba(255, 255, 255, 0.5);
}